@import "styles/variables";
@import "styles/mixins";

.song{
  width: 350px;
  margin: 0 1rem 2rem 1rem;

  .image{
    width: 350px;
    height: 350px;
    border-radius: 20px;
    overflow: hidden;
    position: relative;

    img{
      width: 100%;
      height: 100%;
    }

    span{
      font-size: 2rem;
      position: absolute;
      right: 1.5rem;
      top: 1rem;
      color: $white;
      text-shadow: 0 3px 6px rgba(0,0,0,0.1);
      cursor: pointer;
    }
  }

  .details{
    margin: 0 1rem;

    h2{
      font-size: 26px;
      font-weight: bold;
      line-height: 120%;
      margin-bottom: 0;
    }

    p{
      font-weight: 500;
      font-size: 14px;
      margin: 0.4rem 0 1rem 0;
    }

    .bottom{
      @include flex(flex, row, flex-start, center);

      .likes{
        @include flex(inline-flex, row, center, center);
        padding: 8px 20px;
        background: $white;
        box-shadow: 0 3px 6px rgba(0,0,0,0.1);
        border-radius: 100px;

        p{
          margin: 0 0 0 0.3rem;
        }
      }

      p{
        margin: 0 0 0 0.6rem;
      }
    }

  }
}